<h1 class="mb-4 text-light"><%- title %></h1>


<% countries.forEach(country => { %>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item text-center col my-2" >
            <%= country.Name %>
        </li>
        <li class="list-group-item my-2">
            <a class="btn btn-primary" href="editcountry/<%= country.Id%>">Edit</a>
        </li>
        <li class="list-group-item my-2">
            <a class="btn btn-danger" href="deletecountry/<%= country.Id%>">Delete</a>
        </li>
    </ul>
<% }) %>
